body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
    background-size: cover;
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

.back{
    float: left;
}

.back:hover{
    color: red;
}

h1{
    text-align: center;
    
}

