body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: grey;
    color: black;
}

a{
    color: white;
    text-decoration: none;
}

a.back:hover{
    color: lightblue;
}

h1{
    text-align: center;
    
}

