body{
    background-size: cover;
}

h1{
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}

t.back{
    text-emphasis: none;
    color: black;
    margin-right: auto;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul li{
    float: left;
    background-color: rgb(63, 62, 62);
    color: black;
    width: 200px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-weight: bolder;
}

ul li a{
    display: block;
}

ul li:hover{
    background-color: rgb(199, 132, 65);
    opacity: 1; 
}
